<!-- Personal Details Edit Div -->
<div class="formEditHeader">
  <div>
    <p>Personal Information</p>
  </div>
  <div class="editIconDiv" routerLink="../personalInformationForm">
    <img
      src="{{ walkinIconBaseFolderURL }}edit_green.png"
      alt=""
      class="editIcon"
    />
    <p>Edit</p>
  </div>
</div>
<!-- Personal Details Edit Div -->

<!-- Personal Details Start -->
<div class="personalInformationFormContainer">
  <div class="uploadImageDiv">
    <img
      src="{{ walkinIconBaseFolderURL }}profile_upload.png"
      alt="Upload display picture"
      class="uploadImage"
    />
  </div>
  <form class="personalInformationForm" #personalInformationForm="ngForm">
    <div class="formInputDiv">
      <!-- First name input div -->
      <div class="textInputDiv firstNameInputDiv">
        <label for="firstNameText">First Name*</label>
        <div>{{ userService.personalInformationVariable.firstName }}</div>
      </div>

      <!-- Last name input div -->
      <div class="textInputDiv lastNameInputDiv">
        <label for="lastNameText">Last Name*</label>
        <div>{{ userService.personalInformationVariable.lastName }}</div>
      </div>

      <!-- Email input div-->
      <div class="textInputDiv emailInputDiv">
        <label for="emailText">Email*</label>
        <div>{{ userService.personalInformationVariable.email }}</div>
      </div>

      <!-- Phone number input div -->
      <div class="phoneInputDiv textInputDiv">
        <label for="phoneNumber">Phone Number*</label>
        <div ngModelGroup="contactDetails">
          <div>+</div>
          <div>{{ userService.personalInformationVariable.phoneCode }}</div>
          <div>{{ userService.personalInformationVariable.phoneNumber }}</div>
        </div>
      </div>

      <!-- Upload resume div -->
      <div class="resumeUploadDiv">
        <img
          src="{{ walkinIconBaseFolderURL }}upload_green.svg"
          alt="Upload icon"
        />
        <p>UPLOAD RESUME</p>
      </div>

      <!-- Portfolio url input div -->
      <div class="textInputDiv portfolioInputDiv">
        <label for="portfolioText">Enter portfolio URL (If any)</label>
        <div
          *ngIf="
            userService.personalInformationVariable.portfolioURL.length != 0;
            else portfolioEmpty
          "
        >
          {{ userService.personalInformationVariable.portfolioURL }}
        </div>
        <ng-template #portfolioEmpty>-</ng-template>
      </div>

      <!-- Preferred job roles input div -->
      <div class="textInputDiv preferredJobRoleDiv">
        <label>Preferred Job Roles</label>
        <div class="listInput">
          <div
            *ngFor="
              let preferredJobRole of userService.personalInformationVariable
                .preferredJobRoleList
            "
          >
            {{ preferredJobRole }}
          </div>
        </div>
      </div>

      <!-- Referral input div -->
      <div class="textInputDiv referralInputDiv">
        <label for="referralText"
          >If You Are Registering Via A Referral, Please Mention Full Name Of
          The Employee Who Referred You</label
        >
        <div
          *ngIf="userService.personalInformationVariable.referredBy.length == 0"
        >
          -
        </div>
        <div
          *ngIf="userService.personalInformationVariable.referredBy.length != 0"
        >
          {{ userService.personalInformationVariable.referredBy }}
        </div>
      </div>

      <!-- Update via email checkbox div -->
      <div class="checkBoxDiv emailUpdateCheckBoxDiv">
        <img
          *ngIf="userService.personalInformationVariable.mailUpdates"
          src="{{ quantumIconFolderBaseURL }}checkbox-checked.svg"
          alt="Checked"
        />
        <img
          *ngIf="!userService.personalInformationVariable.mailUpdates"
          src="{{ quantumIconFolderBaseURL }}checkbox-unchecked.svg"
          alt="Unchecked"
        />
        <p>Send me job related updates via mail</p>
      </div>
    </div>
  </form>
</div>

<!-- Personal Details End -->

<!-- Qualification Details Edit Div -->
<div class="formEditHeader">
  <div>
    <p>Qualifications</p>
  </div>
  <div class="editIconDiv" routerLink="../qualificationForm">
    <img
      src="{{ walkinIconBaseFolderURL }}edit_green.png"
      alt=""
      class="editIcon"
    />
    <p>Edit</p>
  </div>
</div>
<!-- Qualification Details Edit Div -->

<!-- Qualification Details Start -->
<div class="qualificationFormContainer">
  <form
    class="qualificationForm"
    #qualificationForm="ngForm"
    ng-submit="submit()"
  >
    <!-- Educational qualification form div -->
    <div class="qualificationDiv educationalQualificationDiv">
      <div class="qualificationHeaderDiv educationalHeaderDiv">
        <p>Educational Qualifications</p>
      </div>
      <div class="formInputDivContainer educationalInputFieldsDiv">
        <!-- Aggregate percentage input div -->
        <div class="smallInputDiv aggregatePercentageInputDiv">
          <label for="aggregatePercentageText">Aggregate Percentage*</label>

          <div>
            {{
              userService.educationalQualificationVariable.aggregatePercetage
            }}
          </div>
        </div>

        <!-- Year of passing -->
        <div class="smallInputDiv yearOfPassingDiv">
          <label for="yearOfPassingInput">Year Of Passing*</label>
          <div>
            {{ userService.educationalQualificationVariable.yearOfPassing }}
          </div>
        </div>

        <!-- Qualification Stream div -->
        <div class="twoInputDiv">
          <!-- Qualification -->
          <div class="largeInputDiv qualificationDiv">
            <label for="qualificationInput">Qualification*</label>
            <div>
              {{ userService.educationalQualificationVariable.qualification }}
            </div>
          </div>

          <!-- Stream -->
          <div class="largeInputDiv streamDiv">
            <label for="streamInput">Stream*</label>
            <div>{{ userService.educationalQualificationVariable.stream }}</div>
          </div>
        </div>

        <!-- College row div -->
        <div class="twoInputDiv">
          <!-- College input div-->
          <div class="largeInputDiv collegeDiv">
            <label for="collegeInput">College*</label>
            <div>
              {{ userService.educationalQualificationVariable.collegeName }}
            </div>
          </div>

          <!-- Others: College input div-->
          <div class="largeInputDiv otherCollegeDiv">
            <label for="otherCollegeInput"
              >If Others, Please Enter Your College Name</label
            >
            <div
              *ngIf="
                userService.educationalQualificationVariable.collegeName ===
                'Others'
              "
            >
              {{
                userService.educationalQualificationVariable.otherCollegeName
              }}
            </div>
            <div
              *ngIf="
                userService.educationalQualificationVariable.collegeName !==
                'Others'
              "
            >
              -
            </div>
          </div>
        </div>

        <!-- College location input div -->
        <div class="smallInputDiv collegeLocationInputDiv">
          <label for="collegeLocationText"
            >Where is your college located?*</label
          >
          <div>
            {{ userService.educationalQualificationVariable.collegeLocation }}
          </div>
        </div>
      </div>
    </div>

    <!-- Professional qualification form div -->
    <div class="professionalQualificationDiv">
      <div class="qualificationHeaderDiv professionalHeaderDiv">
        <!-- (click)="qualificationHeaderClickHandler('professionalHeaderDiv')" -->
        <p>Professional Qualifications</p>
      </div>
      <div class="professionalInputFieldsDiv">
        <!-- [class.hidden]="!isProfessionalQualificationExpanded" -->
        <div class="formInputDivContainer userTypeContainer">
          <!-- User type radio -->
          <div class="largeInputDiv userTypeDiv">
            <label for="userTypeRadio">Applicant type*</label>
            <div
              *ngIf="
                !userService.professionalQualificationVariable
                  .isUserExperienced;
                else experiencedDiv
              "
            >
              Fresher
            </div>
            <ng-template #experiencedDiv>Experienced</ng-template>
          </div>
        </div>
        <!-- Professional qualification input container -->
        <div class="formInputDivContainer professionalFormInputDiv">
          <div
            class="experiencedUserDetailsDiv"
            [class.hidden]="
              !userService.professionalQualificationVariable.isUserExperienced
            "
          >
            <!--Years of experience input div -->
            <div class="smallInputDiv yearsOfExperienceInputDiv">
              <label for="yearsOfExperienceText">Years of Experience*</label>
              <div>
                {{
                  userService.professionalQualificationVariable
                    .yearsOfExperience
                }}
              </div>
            </div>

            <!--Current CTC input div -->
            <div class="smallInputDiv currentCTCInputDiv">
              <label for="currentCTCText">Current CTC* (In Rupees)</label>
              <div>
                {{ userService.professionalQualificationVariable.currentCTC }}
              </div>
            </div>

            <!--Expected CTC input div -->
            <div class="smallInputDiv expectedCTCInputDiv">
              <label for="expectedCTCText">Expected CTC* (In Rupees)</label>
              {{ userService.professionalQualificationVariable.expectedCTC }}
            </div>

            <!-- Expertised technologies input div -->
            <div class="checkBoxInputDiv expertiseTechInputDiv">
              <label>Select All The Technologies You Expertise In*</label>
              <div class="listInput">
                <div
                  *ngFor="
                    let expertiseTech of userService
                      .professionalQualificationVariable.expertiseTechnologyList
                  "
                >
                  {{ expertiseTech }}
                </div>
              </div>
            </div>

            <!-- Other expertise technology input div-->
            <div class="largeInputDiv otherExpertiseTechnologyDiv">
              <label for="otherExpertiseTechnologyInput"
                >If Others, Please Mention</label
              >
              <div
                *ngIf="
                  userService.professionalQualificationVariable
                    .otherExpertiseTechnology.length != 0;
                  else otherExpertiseTechnologyEmpty
                "
              >
                {{
                  userService.professionalQualificationVariable
                    .otherExpertiseTechnology
                }}
              </div>
              <ng-template #otherExpertiseTechnologyEmpty>-</ng-template>
            </div>
          </div>

          <!-- compulsory fields -->
          <div class="">
            <!-- Familiar technologies input div -->
            <div class="checkBoxInputDiv familiarTechInputDiv">
              <label>Select All The Technologies You Familiar In*</label>
              <div class="listInput">
                <div
                  *ngFor="
                    let familiarTech of userService
                      .professionalQualificationVariable.familiarTechnologyList
                  "
                >
                  {{ familiarTech }}
                </div>
                <!-- <div
                  *ngIf="
                    userService.professionalQualificationVariable
                      .familiarTechnologyList.length == 0;
                    else hasFamiliarTech
                  "
                >
                  -
                </div>
                <ng-template
                  #hasFamiliarTech
                  *ngFor="
                    let familiarTech of userService
                      .professionalQualificationVariable.familiarTechnologyList
                  "
                  >{{ familiarTech }}</ng-template
                > -->
              </div>
            </div>

            <!-- Other Familiar technology input div-->
            <div class="largeInputDiv otherFamiliarTechnologyDiv">
              <label for="otherFamiliarTechnologyInput"
                >If Others, Please Mention</label
              >
              <div
                *ngIf="
                  userService.professionalQualificationVariable
                    .otherFamiliarTechnology.length != 0;
                  else otherFamiliarTechnologyEmpty
                "
              >
                {{
                  userService.professionalQualificationVariable
                    .otherFamiliarTechnology
                }}
              </div>
              <ng-template #otherFamiliarTechnologyEmpty>-</ng-template>
            </div>

            <!-- Notice period details -->
            <div
              class="noticePeriodDiv"
              [class.hidden]="
                !userService.professionalQualificationVariable.isUserExperienced
              "
            >
              <!-- Notice period radio -->
              <div class="largeInputDiv noticePeriodRadioDiv">
                <label for="noticePeriodRadio"
                  >Are You Currently On Notice Period?*</label
                >
                <div
                  *ngIf="
                    userService.professionalQualificationVariable
                      .onNoticePeriod;
                    else notOnNotice
                  "
                >
                  Yes
                </div>
                <ng-template #notOnNotice>No</ng-template>
              </div>

              <!-- Notice period end date and notice period length div -->
              <div class="twoInputDiv">
                <!-- Notice period end date div-->
                <div class="largeInputDiv noticeEndDateDiv">
                  <label for="noticeEndDateInput"
                    >If Yes, When Will Your Notice Period End?*</label
                  >
                  <div
                    *ngIf="
                      userService.professionalQualificationVariable
                        .noticePeriodEndDate.length == 0;
                      else noticePeriodEndDate
                    "
                  >
                    -
                  </div>
                  <ng-template #noticePeriodEndDate>{{
                    userService.professionalQualificationVariable
                      .noticePeriodEndDate
                  }}</ng-template>
                </div>

                <!-- notice period length div -->
                <div class="largeInputDiv noticeLengthDiv">
                  <label for="noticeLengthInput"
                    >How Long Is Your Notice Period?* (Mention in Months)</label
                  >
                  <div
                    *ngIf="
                      userService.professionalQualificationVariable
                        .noticePeriodDuration.length == 0;
                      else noticePeriodDuration
                    "
                  >
                    -
                  </div>
                  <ng-template #noticePeriodDuration>{{
                    userService.professionalQualificationVariable
                      .noticePeriodDuration
                  }}</ng-template>
                </div>
              </div>
            </div>

            <!-- Appeared for test radio -->
            <div class="largeInputDiv appearedForTestDiv">
              <label for="appearedForTestRadio"
                >Have You Appeared For Any Test By Zeus In The Past 12
                Months?*</label
              >
              <div
                *ngIf="
                  userService.professionalQualificationVariable
                    .zeusTestAppeared;
                  else notAppearedTest
                "
              >
                Yes
              </div>
              <ng-template #notAppearedTest>No</ng-template>
            </div>

            <!-- Previously applied role input div-->
            <div class="largeInputDiv previouslyAppliedRoleDiv">
              <label for="previouslyAppliedRoleInput"
                >If yes, Which Role Did you apply for?</label
              >
              <div
                *ngIf="
                  userService.professionalQualificationVariable
                    .roleAppliedPreviously.length != 0;
                  else previouslyAppliedRoleEmpty
                "
              >
                {{
                  userService.professionalQualificationVariable
                    .roleAppliedPreviously
                }}
              </div>
              <ng-template #previouslyAppliedRoleEmpty>-</ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Qualification Details End -->

<!-- Review Page Button Div -->
<div class="formReviewButtonDiv">
  <button type="submit" routerLink="../qualificationForm">Previous</button>
</div>
