.qualificationFormContainer {
  position: relative;
  width: inherit;
  height: 100%;
  min-height: inherit;
  margin: 0 24px;
  background-color: white;
}

.hidden {
  display: none;
}
/* -------------------------------------------- Form Start ---------------------------------------------- */

/* Form */
.qualificationForm {
  /* padding: 24px; */
  background-color: #eeeeee;
}

.qualificationDiv {
  margin-bottom: 24px;
}

.qualificationHeaderDiv {
  display: flex;
  height: 56px;
  background-color: #dbefff;
  cursor: pointer;
}

.qualificationHeaderDiv > p:first-child {
  margin: 0;
  align-self: center;
}

.qualificationHeaderDiv > p {
  /* margin: 0; */
  font-size: 16px;
  align-self: center;
  padding-left: 16px;
}

.divider {
  margin-left: auto;
  margin-left: auto;
  border-left: 1.5px solid teal;
  height: 56px;
  left: 50%;
}

.qualificationHeaderDiv > img {
  align-self: center;
  padding: 0 5px;
  /* border-left: solid black 2px; */
}

/* Educational qualification input */

select {
  border: none;
  border-bottom: 1px #666666 solid;
  font-size: 16px;
}

.formInputDivContainer {
  background-color: white;
  padding: 24px;
  height: fit-content;
}

.smallInputDiv {
  display: flex;
  flex-direction: column;
  width: max(180px, 30%);
  /* max-width: 180px; */
  margin-bottom: 40px;
}

.smallInputDiv > label {
  font-size: 12px;
  color: #666666;
  margin-bottom: 12px;
}

.smallInputDiv > input {
  font-size: 16px;
  border: none;
  border-bottom: 1px #666666 solid;
  text-align: left;
}

.largeInputDiv {
  display: flex;
  flex-direction: column;
  width: 45%;
  /* max-width: 480px; */
  margin-bottom: 40px;
}

.largeInputDiv > label {
  font-size: 12px;
  color: #666666;
  margin-bottom: 12px;
}

.largeInputDiv > input {
  font-size: 16px;
  border: none;
  border-bottom: 1px #666666 solid;
  text-align: left;
}

/* Row having 2 input fields */
.twoInputDiv {
  display: flex;
  justify-content: space-between;
}

.twoInputDiv > div > select {
  margin-top: 1px;
}

/* Professional qualification input */

.userTypeDiv {
  margin-bottom: 0;
}

.professionalFormInputDiv {
  margin-top: 8px;
}

/* Radio start*/
.radioDiv {
  display: flex;
  /* justify-content: space-between; */
}

.radioDiv > pre {
  margin: 0;
}

.radioDiv > input[type="radio"] {
  display: none;
}

.radioDiv > input[type="radio"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.15rem;
  border-color: #1f7a54;
}

.radioDiv > input[type="radio"]:checked + *::before {
  background: radial-gradient(teal 0%, teal 40%, transparent 50%, transparent);
  border-color: #1f7a54;
}
/* Radio end */

/* Technology checkbox div */
.checkBoxInputDiv {
  display: flex;
  flex-direction: column;
  width: max(280px, 45%);
  /* max-width: 180px; */
  /* margin-bottom: 40px; */
}

.checkBoxInputDiv > label {
  font-size: 12px;
  color: #666666;
  margin-bottom: 12px;
}

.checkBoxInputDiv > input {
  font-size: 16px;
  border: none;
  border-bottom: 1px #666666 solid;
  text-align: left;
}

.checkBoxDiv {
  display: flex;
  margin-bottom: 16px;
}

.checkBoxDiv > p {
  margin: 0;
}

.appearedForTestDiv {
  margin-bottom: 16px;
}

/* Button div */
.formButtonDiv {
  display: flex;
  position: absolute;
  left: -30px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee;
  padding: 27px;
}

.formButtonDiv :nth-child(1) {
  margin-right: 8px;
}

.formButtonDiv :nth-child(2) {
  margin-left: 8px;
}

.formButtonDiv > button {
  width: 90px;
  height: 24px;
  font-size: 14px;
  background-color: #3fd28b;
  box-shadow: 0px 3px 5px #0000003d;
  border-radius: 2px;
  border: none;
}
