.walkinAppliedSuccessfullComponent {
  min-height: 92%;
  background-color: #eeeeee;
}

.walkinAppliedSuccessfullDiv {
  position: relative;
  padding: 26px 24px 0;
}

.walkinAppliedSuccessfullView {
  padding-top: 50px;
  z-index: 0;
}

/* Successful icon */
.successfullImgDiv {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #18be2e;
  box-shadow: 0px 4px 6px #00000029;
  margin: 0 auto;
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  z-index: 1;
}

.successfullImgDiv > img {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 70%;
}

/* Text content div */
.successfullTextDiv {
  width: inherit;
  position: relative;
  background-color: white;
  padding: 74px 16px 24px;
  display: flex;
  flex-direction: column;
}

/* Title div */
.title {
  width: 100%;
  margin-bottom: 8px;
}

.title > h1 {
  font-size: 18px;
  margin: 0 auto;
  text-align: center;
}

/* Horzontal partition */
.horizontalPartition {
  border: none;
  border-bottom: black 1px solid;
  opacity: 0.12;
  margin: 16px 0;
}

.divTitle > p {
  font-size: 12px;
  color: #666666;
  margin-bottom: 8px;
}

.divContent > p {
  font-size: 14px;
  font-weight: bold;
}

.divContent > p:nth-child(n + 2) {
  margin-top: 8px;
}

/* hyphen in things to remember me points */
.thingsToRememberDiv > .divContent > p:before {
  content: "-";
  /* text-indent: -5px; */
}

/* Download hall ticket button div */
.downloadHallTicketButtonDiv {
  align-self: center;
}

.downloadHallTicketButtonDiv > button {
  font-size: 14px;
  font-weight: bold;
  background-color: #3fd28b;
  padding: 5px 16px;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 3px 5px #0000003d;
}
