<div class="walkinAppliedSuccessfullComponent">
  <div class="walkinAppliedSuccessfullDiv">
    <div class="walkinAppliedSuccessfullView">
      <div class="successfullImgDiv">
        <img src="{{ walkinIconFolderBaseURL }}done_white_24dp.svg" alt="" />
      </div>
      <div class="successfullTextDiv">
        <!-- Title div -->
        <div class="title">
          <h1>
            Congratulations! You have successfully applied for the walk-in
            opportunity
          </h1>
        </div>

        <!-- Partition line -->
        <hr class="horizontalPartition" />

        <!-- Date-time of walkin -->
        <div class="dateTimeDiv">
          <div class="divTitle">
            <p>Date & Time of Walk-In:</p>
          </div>
          <div class="divContent">
            <p>03rd July 2021</p>
            <p>9:00 AM to 11:00 AM</p>
          </div>
        </div>

        <!-- Partition line -->
        <hr class="horizontalPartition" />

        <!-- Walkin venue div -->
        <div class="walkinVenueDiv">
          <div class="divTitle">
            <p>Venue of Walk-In:</p>
          </div>
          <div class="divContent">
            <p>Zeus Systems Pvt. Ltd.</p>
            <p>
              1402, 14th Floor, Tower B, Peninsula Business Park. Ganpatrao
              Kadam Marg
            </p>
            <p>Lower Parel (W)</p>
            <p>Mumbai - 400 013</p>
            <p>Phone: +91-22-66600000</p>
          </div>
        </div>

        <!-- Partition line -->
        <hr class="horizontalPartition" />

        <!-- Things to remember div -->
        <div class="thingsToRememberDiv">
          <div class="divTitle">
            <p>THINGS TO REMEMBER:</p>
          </div>
          <div class="divContent">
            <p>Please report 30 MINUTES prior to your reporting time.</p>
            <p>
              Download your Hall Ticket from below and carry it with you during
              your Walk-in.
            </p>
          </div>
        </div>

        <!-- Partition line -->
        <hr class="horizontalPartition" />

        <!-- Download hall ticket button div -->
        <div class="downloadHallTicketButtonDiv">
          <button>Download Hall Ticket</button>
        </div>
      </div>
    </div>
  </div>
</div>
