<div class="createUser">
  <app-header></app-header>
  <!-- ------------------------------ Create User Header Start ----------------------------------- -->
  <div class="createUserHeader">
    <div class="backButtonDiv">
      <img
        src="../../assets/walk-in-portal-icons/arrow_left_green.svg"
        alt=""
        class="backButton"
        (click)="loginRedirect()"
      />
    </div>
    <div class="centerText">Create An Account</div>
    <div class="userCancelCreateButtonDiv">
      <button class="cancelUserButton" routerLink="../login">CANCEL</button>
      <button
        class="createUserButton"
        [ngStyle]="{ opacity: setOpacity() }"
        [disabled]="
          isPersonalInformationFilled && isQualificationInformationFilled
            ? false
            : true
        "
        (click)="createAccount()"
      >
        CREATE
      </button>
    </div>
  </div>

  <div class="formNavContainer">
    <hr />
    <div class="navItems">
      <div routerLink="personalInformationForm">
        <div>
          <img src="" alt="" />
          <img src="" alt="" />
        </div>
        <p>Personal Information</p>
      </div>
      <div routerLink="qualificationForm">Qualifications</div>
      <div routerLink="reviewForm">Review and Proceed</div>
    </div>
  </div>
  <!-- ------------------------------ Create User Header End ------------------------------------- -->

  <router-outlet></router-outlet>
</div>
