<div class="allWalkinContainer">
  <!-- Apply ngFor for all walkins -->
  <div class="walkin" id="walkin1">
    <!-- Expire tag -->
    <div class="walkinExpireInDiv" [class.hidden]="false">
      <p>Expire in 5 days</p>
    </div>

    <!-- Walkin title -->
    <div class="walkinTitleDiv">
      <p>Walk In For Designer Job Role</p>
    </div>

    <!-- Date-Time and location div -->
    <div class="dateTimeLocationContainer">
      <!-- Date time title div -->
      <div class="walkinDivTitle">
        <p>Date & Time:</p>
      </div>
      <!-- Date time value and location div -->
      <div class="dateTimeLocationDiv">
        <div class="dateDiv">
          <p>{{ startDate }} to {{ endDate }}</p>
        </div>
        <div class="verticalPartition"></div>
        <div class="locationDiv">
          <img src="{{ walkinIconBaseURL }}location_on_black_24dp.svg" alt="" />
          <p>Mumbai</p>
        </div>
      </div>
    </div>

    <!-- Partition line -->
    <hr class="horizontalPartition" />

    <!-- Walkin roles div -->
    <div class="walkinRolesDiv">
      <!-- Walkin roles div title -->
      <div class="walkinDivTitle">
        <p>Job Roles:</p>
      </div>
      <!-- Roles list div -->
      <div class="walkinRoleListContainer">
        <!-- Apply ngFor when fetching list from database -->
        <div class="walkinRole">
          <img src="{{ walkinIconBaseURL }}Instructional Designer.svg" alt="" />
          <div>Role name</div>
        </div>
        <div class="walkinRole">
          <img src="{{ walkinIconBaseURL }}Instructional Designer.svg" alt="" />
          <div>Role name</div>
        </div>
      </div>
    </div>

    <!-- Special opportunity div -->
    <div class="specialOpportunity" [class.hidden]="false">
      <p>Internship Name</p>
    </div>

    <!-- View more button div -->
    <div class="viewMoreButtonDiv">
      <button (click)="walkinDetails(1)">VIEW MORE DETAILS</button>
    </div>
  </div>
</div>
