.hidden {
  display: none;
}
/* Expandable header div */
.jobRoleTitleDiv {
  display: flex;
  height: 56px;
  margin-top: 16px;
  background-color: #dbefff;
  cursor: pointer;
}

.jobRoleTitleDiv > p {
  font-size: 16px;
  align-self: center;
  padding-left: 16px;
}

.divider {
  margin-left: auto;
  border-left: 1.5px solid teal;
}

.jobRoleTitleDiv > img {
  align-self: center;
  padding: 0 5px;
}

/* Job role details div */
.jobRoleDetailsDiv {
  padding: 16px;
  background-color: white;
}

.detailTitle {
  color: #666666;
  font-size: 12px;
  margin-bottom: 16px;
}

.detailDetails > p {
  font-size: 14px;
  margin-bottom: 5px;
}

.detailDetails > p:last-child {
  margin-bottom: 0;
}

.points::before {
  content: "-";
  margin-right: 5px;
}

/* Horzontal Partition */
.horizontalPartition {
  border: none;
  border-bottom: black 1px solid;
  opacity: 0.12;
  margin: 16px 0;
}
