/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Quicksand;
  src: url("./assets/quantum screen assets/Quicksand font 1/Quicksand-VariableFont_wght.ttf");
}

html {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Quicksand;
}
